.logo
{
	margin-left: 400px;
	margin-top: 50px;
}
.butt
{
	background-color: #262626;
	color: white;
	margin-left: 190px;
	width: 200px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;

}
header
{
	background-image:url("header.jpg");
}
.episodes
{
	background-color: #262626;
	color: white;
	width: 1415px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;
}

.jojo
{
	margin-top: -600px;
	margin-left: 100px;
	width: 200px;
	height: 450px;
}
body
{background-color: #000010;}
.video
{

    display: block;
    margin: 0 auto;

}

h1
{
   color: white;
   text-align: center;
}